<header>
    <div class="header-left">
        <img class="header-logo" src="/static/full_logo_white.png" alt="Mr. Coffee Logo">
    </div>
    <nav class="top-navigation">
        <a href="/">Home</a>
        <a href="/addschedule">Schedule management</a>
        <form action="/logout" method="POST">
            <input type="submit" class="normal-button" value="Log out"></input>
        </form>
    </nav>
</header>
<div class="main-wrapper">
    <h1>Schedule management for <%= current_user.first_name + " " + current_user.surname %></h1>

    <div class="two-sections">

        <div class="section_left">

            <h3>
                Add new schedule
            </h3>

            <form class="add-form" method="POST" action="/addschedule">

                <!-- <input type="hidden" name="user_id" value="<%= current_user.id %>"> -->

                <label>
                    Day of the week *
                    <select name="day_of_week" value="" required>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                </label>

                <label>
                    Start at *
                    <input type="time" name="start_time" required>
                </label>

                <label>
                    End at *
                    <input type="time" name="end_time" required>
                </label>

                <input type="submit" value="Submit">

            </form>
        </div>

        <div class="section-right">

            <h3>
                Existing schedules
            </h3>

            <% if (user_schedule[0].day_of_week===null) { %>
                <p>This user has no schedules</p>
                <% } else { %>
                    <table>
                        <tr>
                            <td>Day</td>
                            <td>Start Time</td>
                            <td>End Time</td>
                        </tr>
                        <% for (i=0; i < user_schedule.length; i++) { %>
                            <tr>
                                <td>
                                    <%= weekDays[user_schedule[i].day_of_week - 1] %>
                                </td>
                                <td>
                                    <%= user_schedule[i].start_time %>
                                </td>
                                <td>
                                    <%= user_schedule[i].end_time %>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                    <% } %>

        </div>
    </div>
</div>